/*body {original
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}*/

body {
    position: relative; 
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    /*padding: 10px;*/
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
}

.main-title {
    display: block;
    color: #005aa6;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.profile {
    /*width: 800px;*/
    width: 100%;
    text-align: center;
}

.sub-title {
    color: #ffffff;
    background-color: #005aa6;
    text-align: center;
}

.post{
    display: flex;
    flex-wrap: wrap;
}

.content-1{
    width: 50%;
}
#sub-header {
    text-align: center;
}

.content-2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    width: 100%;
}

textarea {
    height: 300px;
}

.heading {
    display: flex;
    width: 100%
}

.post-container {
    display: flex;
    width: 100%;
}
.endline {
    width: 100%;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.post-content {
    width: 100%;
}

.title {
    width: 50%;
}

.date {
    width: 50%;
    text-align: right;
}

.post-options {
    display: fluid;
    flex-wrap: wrap;
    width: 50%;
    text-align: right;
}

.post-author {
    width: 50%;
}

.endline {
    color: #005aa6;
}

.opt-send {
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.msg {
    width: 100%;
    text-align: center;
    color: orange;
}


a.opt:link, a.opt:visited, a.option:active {
    text-decoration: none;
    color: black;
    }

a.opt:hover {
    text-decoration: underline; 
    color: black;
    }

/*
a:link........define o estilo do link no estado inicial;
a:visited...define o estilo do link visitado;
a:hover.....define o estilo do link quando passa-se o mouse sobre ele;
a:active....define o estilo do link ativo (o que foi "clicado").
*/