body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

html, body {
  height: 100%;
}

.main-title {
    display: block;
    color: #005aa6;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.profile {
    width: 800px;
    text-align: center;
}

.sub-title {
    color: #ffffff;
    background-color: #005aa6;
    text-align: center;
}

/*.container{
    display: flex;
    flex-wrap: wrap;
}*/

.content-1{
    width: 50%;
}
#sub-header {
    text-align: center;
}

.content-2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    width: 100%;
}

textarea {
    height: 300px;
}

.post-heading {
    display: flex;
}

.post-title {
    width: 50%;
}

.post-date {
    width: 20%;
}

.post-options {
    width: 30%;
    text-align: right;

}

.endline {
    color: #005aa6;
}