<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<meta name="mobile-web-app-capable" content="yes">
	{% if redirect is defined %}
		<meta http-equiv="refresh" content="3;url=/blog/{{redirect}}">
	{% endif %}
	<title>Toca e Passa</title>
	<link type="text/css" rel="stylesheet" href="/static/main.css">
	<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=zocial">
</head>
<body>
	<a href="/blog" class="main-title">Toca e Passa</a>

	<div class="profile">
		{% if init is divisibleby 2 %}
			<a href="/blog">HOME</a>
			|
			<a href="/blog/welcome">YOURS POSTS</a>
			|
			<a href="/blog/newpost">NEW POST</a>
			|
			<a href="/blog/logout">LOGOUT</a>
		{% else %}
			<a href="/blog/signup">SIGNUP</a>
			|
			<a href="/blog/login">LOGIN</a>
		{% endif %}
		<br>
		<br>
	</div>

	<div id="header">
  		{% block header %}
  		{% endblock %}
  	</div>

	<div id="content">
  		{% block content %}
  		{% endblock %}
  	</div>
</body>
</html>