<div class="comment">
    <span><b>Author: </b></span>{{c.author_comment}}
    <br>
    <span><b>Date: </b></span>{{c.created_comment.strftime("%b %d, %Y")}}
    <br>
    <span><b>Comment: </b></span>
    <br>
    {{c._render_text | safe}}
</div>
<div class="comment-options">
    
  <table id="options">
    <tr>
      <td>
        <span class="option"><a href="/blog/editcomment/{{c._id}}">Edit comment</a></span>
      </td>
      
      <td>
        <span class="option"><a href="/blog/deletecomment/{{c._id}}">Delete comment</a></span>
      </td>
    </tr>
  </table>

  </div>