{% extends "base.html" %}

{% block content %}

<div class="container">

    <div>
      <h2 id="sub-header">Login</h2>
    </div>

    <form method="post">
      
      <div>
        <label>Username</label><br>
        <input type="text" name="username" value="{{username}}">
      </div>

      <div>
        <br>
        <label>Password</label><br>
        <input type="password" name="password" value="">
      </div>

      <div>
        <br>
        <span class="error">{{error}}</span>
      </div>

      <input type="submit">

    </form>

</div>

{% endblock %}