{% extends "base.html" %}

{% block content %}

<div class="container">

    <div>
      <h2 id="sub-header">Login</h2>
    </div>

    <form method="post">
      <table>

        <tr>
          <td class="label">Username</td>
          <td><input type="text" name="username" value="{{username}}"></td>
        </tr>

        <tr>
          <td class="label">Password</td>
          <td><input type="password" name="password" value=""></td>
        </tr>

        <tr>
          <td class="error">{{error}}</td>
        </tr>
      
      </table> 

      <br>
      <input type="submit">

    </form>

</div>






{% endblock %}
