<div class="post-options">
    
  <div class="option">
  {% if username in p.liked_by %}
    <a class="opt" href="/blog/unlike/{{p._id}}">Unike ({{p.likes}})</a>
  {% else %}
    <a class="opt" href="/blog/like/{{p._id}}">Like ({{p.likes}})</a>
  {% endif %}
  </div>
  
  <div class="option">
    <a class="opt" href="/blog/comment/{{p._id}}">Comment ({{p.num_comments}})</a>
  </div>
  
  <div class="option">
    <a class="opt" href="/blog/editpost/{{p._id}}">Edit post</a>
  </div>

  <div class="option">
    <a class="opt" href="/blog/deletepost/{{p._id}}">Delete post</a>
  </div>
  
</div>

</div>
          
</div>