<div class="post">
  <div class="heading">
    
    <div class="title">
      <a class="opt" href="/blog/{{p._id}}">{{p.subject}}</a>
    </div>
    
    <div class="date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>
  
  <hr style="width: 100%"> 
  
    <div class="post-content">
      {{p._render_text | safe}}
    </div>

  <hr class="endline">

  <div class="post-container">
    <div class="post-author">
      <span><b>Author: </b></span>{{p.author}}
      <br>
      <span><b>Last modified: </b></span>{{p.last_modified.strftime("%b %d, %Y")}}
      <br>
      <br>
    </div>