{% extends "base.html" %}

{% block content %}

<div class="container">

    <div>
      <h2 id="sub-header">Signup</h2>
    </div>

    <form method="post">
      
      <div>
        <label>Username</label><br>
        <input type="text" name="username" value="{{username}}">
        <span class="error">{{error_username}}</span>
      </div>

      <div>
        <br>
        <label>Password</label><br>
        <input type="password" name="password" value="">
        <span class="error">{{error_password}}</span>
      </div>

      <div>
        <br>
        <label>Verify password</label><br>
        <input type="password" name="verify" value="">
        <span class="error">{{error_verify}}</span>
      </div>

      <div>
        <br>
        <label>Email (optional)</label><br>
        <input type="text" name="email" value="{{email}}">
        <span class="error">{{error_email}}</span>
      </div>

      <br>

      <input type="submit">

    </form>

</div>

{% endblock %}
